<div class="card">
	<div class="card-header">
		{{pageHeader}}
	</div>
	<div class="card-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<pm-profile position="tutor" fullName="Deborah Kurata" imgSrc="https://avatars2.githubusercontent.com/u/7987365?s=460&v=4" githubUser="deborahk"></pm-profile>
				</div>
				<div class="col-md-6">
					<pm-profile position="developer" fullName="Khachatur Tovmasyan" imgSrc="https://avatars0.githubusercontent.com/u/31757540?s=460&v=4" githubUser="tovmassian"></pm-profile>
				</div>
			</div>
		</div>
	</div>
</div>
